.serverlink{
    list-style: none;
}
.serverlink li{
    display: flex;
}
.serverlink li:first-child{
    background-color: #3197d6;
}
.serverlink li div{
    text-align: center;
    width: 33%;
    padding: 15px 0;
    font-weight: 600;
    color: white;
    border-right: 2px solid gainsboro;
}
.serverlink li div:last-child{
    border: none;
}