.table-3{
    font-size: 18px;
    width: 100%;
}
.table-3 thead{
    background-color: #203143;
    color: antiquewhite;
}
.table-3 thead td{
    width: 33%;
    text-align: center;
    padding: 25px 0;
    font-weight: 500;
}
.table-3 tbody{
    background-color: #f2f7f9;
}

.table-3 tbody td{
    padding: 25px 0;
    text-align: center;
}