::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #09347a;
    border-radius: 10px;
}

.admin {
    height: 100vh;
    display: flex;
    position: relative;
}

.admin .left {
    width: 50%;
    background-color: white;
    padding: 30px 0;
    overflow: auto;
}

.admin .left h2 {
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: 20px;
}

.admin ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.admin li {
    width: 95%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 14px;
    box-shadow: black 0px 0px 4px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin li div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.admin li svg {
    cursor: pointer;
}

.admin li svg:first-child {
    color: rgb(4, 0, 255);
}

.admin li svg:last-child {
    color: red;
}


.panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-new {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #0abf53;
    font-size: 20px;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

.btn-new:hover {
    background-color: #279b37;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: auto;
}

.modal .cls-btn {
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
}

.modal .tabs {
    width: fit-content;
    margin: 30px auto;
}

.modal .tabs button {
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    transition: all 300ms;
    cursor: pointer;
}

.modal .tabs button:hover {
    color: #caccd1;
}

.modal .tabs button.active {
    color: #00d8ff;
    border-bottom: 1px solid #00d8ff;
}

.modal .modal-inner {
    opacity: 1;
}

.modal .content {
    color: white;
}

.modal .content form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.modal .content form.link {
    width: 50%;
    overflow: auto;
}

.modal .content form.link .prevLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    margin: 20px 0;
    position: relative;
}

.modal form.link .prev-item {
    display: flex;
    justify-content: space-around;
    background-color: #caccd1;
    align-items: center;
}

.modal form.link .prev-item svg{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.modal form.link .prev-item div{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 30%;
    padding: 10px 0;
}

.modal .addModal {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 100px auto;
}

.modal .addModal input {
    margin: 10px 0 25px;
    outline: none;
    height: 40px;
    font-size: 16px;
    padding: 0 8px;
}

.modal .addModal button {
    width: 40%;
    height: 30px;
    font-size: 16px;
    margin: 0 auto;
    outline: none;
}

.modal .content form input {
    margin: 5px 0 25px;
    height: 35px;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
}

.modal .content form button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.modal .content .form-title {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.modal .form-title label {
    display: flex;
    align-items: center;
}

.modal .content .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal .tech {
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.modal .tech label {
    margin-bottom: 10px;
}

.modal .tech .techList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    color: black;
    max-width: 350px;
}

.modal .tech .techItem {
    padding: 5px 8px;
    border: none;
    border-radius: 3px;
    background-color: #caccd1;
}

.modal .tech .techItem svg:hover {
    color: red;
    transition: all 200ms;
    cursor: pointer;
}

.modal .tech input {
    margin: 10px 0 30px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 8px;
    font-size: 16px;
}

.modal .tech button {
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    background-color: #0abf53;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.modal .tech button:hover {
    background-color: #279b37;
}

.modal .edit-div{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #b1d4e5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .edit-div form{
    width: 25%;
}

.modal .edit-div svg{
    position: absolute;
    top: 300px;
    right: 300px;
    cursor: pointer;
}