::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #09347a;
    border-radius: 10px;
}

.admin {
    height: 100vh;
    display: flex;
    position: relative;
}

.admin .left {
    width: 50%;
    background-color: #d0e2e6;
    padding: 30px 0;
    overflow: auto;
    box-shadow:  0 0 10px #4b4b4b8f;
}

.admin .left .left-head {
    border-bottom: 1px solid rgb(218, 218, 218);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.admin .user-head {
    color: black;
    margin: 20px auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.admin .user-head svg {
    cursor: pointer;
}

.admin .user-head input {
    height: 30px;
}

.admin .left-head input {
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #09347a;
    letter-spacing: 1px;
}

.admin .left h2 {
    font-weight: 500;
}

.admin ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.admin .users {
    background-color: #ecf0f1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

.admin .users li {
    background-color: #dddddda6;
    width: 50%;
}

.users .user-head button {
    height: 40px;
    font-size: 16px;
    width: 120px;
}

.user-head div{
    border-radius: 50%;
    padding: 5px 10px;
    border-radius: 50%;
}

.user-head h2{
    font-weight: 500;
}

.user-head div:hover{
    background-color: rgb(185, 185, 185);
}

.admin .usermodal {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    color: #caccd1;
}

.admin .usermodal svg {
    position: absolute;
    right: 60px;
    top: 40px;
    cursor: pointer;
}

.admin .usermodal form {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 50px auto;
}

.admin .usermodal input {
    margin: 5px 0 15px;
    height: 30px;
    padding: 0 8px;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
}

.admin .usermodal button {
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
}

.admin .notProject{
    margin: 20px auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.admin .notProject h2{
    font-weight: 500;
}

.admin li {
    width: 95%;
    margin: 0 auto;
    border-radius: 4px;
    padding: 20px ;
    font-size: 14px;
    box-shadow: rgba(43, 43, 43, 0.404) 0px 0px 2px 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg{
    position: relative;
}

.admin li div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.admin li svg {
    cursor: pointer;
}

.admin li .edit-delete svg:first-child {
    color: #4b7bec;
}

.admin li .edit-delete svg:last-child {
    color: #fc5c65;
}


.panel {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.panel button{
    font-size: 18px;
}

.panel .panel-btn{
    background-color: #dbeede;
    color: #237f52;
    border: 1px solid #237f52;
}

.panel .panel-btn:hover{
    color: white;
}

.panel button svg{
    display: none;
}

.panel button:hover svg{
    display: block;
}

.btn-new {
    width: 160px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-color: #0abf53;
    font-size: 20px;
    font-weight: 300;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-new:hover {
    background-color: #279b37;
}

.modal {
    background-color: rgb(31, 31, 31);
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: auto;
}

.modal .cls-btn {
    position: absolute;
    top: 30px;
    right: 50px;
    cursor: pointer;
}

.modal .tabs {
    width: fit-content;
    margin: 30px auto;
}

.modal .tabs button {
    border: none;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    transition: all 300ms;
    cursor: pointer;
}

.modal .tabs button:hover {
    color: #caccd1;
}

.modal .tabs button.active {
    color: #00d8ff;
    border-bottom: 1px solid #00d8ff;
}

.modal .modal-inner {
    opacity: 1;
}

.modal .content {
    color: white;
}

.modal .content form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.modal .content form.link {
    width: 80%;
}

.modal .content form.link .prevLinks {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
    margin: 20px 0;
    position: relative;
}

.modal form.link .prev-item {
    display: flex;
    justify-content: space-around;
    background-color: #caccd1;
    align-items: center;
}

.modal form.link .prev-item div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: fit-content;
    overflow-wrap: normal;
}

.modal form.link .prev-item .icons {
    width: fit-content;
    position: absolute;
    right: -60px;
    display: flex;
    color: white;
    gap: 10px;
}

.modal form.link .prev-item .icons svg:hover {
    cursor: pointer;
}

.modal form.link .prev-item div {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 30%;
    padding: 10px 0;
}

.modal .addModal {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0px 5px 2px gray;
    padding: 20px 20px 50px;
    background-color: #01295c;
    border-radius: 4px;
    color: white;
}

.modal .addModal input {
    margin: 15px 0 25px;
    outline: none;
    height: 40px;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 6px;
    border: 1px solid gray;
    width: 60%;
}

select{
    border: none;
    border-radius: 10px;
    height: 35px;
    margin: 5px 0 15px;
    font-size: 16px;
    outline: none;
}

.modal .addModal button {
    width: 40%;
    height: 40px;
    font-size: 16px;
    margin: 0 auto;
    outline: none;
}
.addModal div{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 0 20px;
    width: 100%;
}

.addModal svg{
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.modal .content form input {
    margin: 5px 0 25px;
    height: 35px;
    outline: none;
    padding-left: 8px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.modal .content form button {
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.modal .content .form-title {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.modal .form-title label {
    display: flex;
    align-items: center;
}

.modal .content .inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal .tech {
    width: fit-content;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.modal .tech label {
    margin-bottom: 10px;
}

.modal .tech .techList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    color: black;
    max-width: 350px;
    margin: 10px 0;
}

.modal .tech .techItem {
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    background-color: #caccd1;
}

.modal .tech .techItem svg {
    margin: 0 4px;
}

.modal .tech .techItem svg:hover {
    color: red;
    transition: all 200ms;
    cursor: pointer;
}

.modal .tech input {
    margin: 10px 0 30px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 8px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.modal .tech button {
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    background-color: #0abf53;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.modal .tech button:hover {
    background-color: #279b37;
}

.editProject {
    width: 80%;
    background-color: #caccd1;
    margin: 40px auto;
    color: #09347a;
    border-radius: 2px;
    font-weight: 500;
}

.editProjectInner {
    display: flex;
    justify-content: space-between;
}

.editProject div {
    padding: 10px 15px;
}

.editProject .icons {
    display: flex;
    gap: 10px;
}

.editProject svg {
    cursor: pointer;
}

.edit-div-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #efe9e5;
    background-color: #01295c;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 3;
}

.edit-div-modal h2{
    margin: 30px 0;
}

.edit-div-modal form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.edit-div-modal .form-foot{
    display: flex;
    padding: 10px;
    justify-content: end;
}

.edit-div-modal .form-foot div{
    display: flex;
    gap: 20px;
    justify-content: end;
}

.edit-div-modal .form-foot button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.edit-div-modal input{
    border: none;
    border-radius: 20px;
    text-align: center;
    height: 30px;
    margin: 5px 0 15px;
    outline: none;
    font-size: 16px;
}

.close-btn{
    border: 1px solid red;
    border-radius: 4px;
    background-color: rgb(252, 154, 154);
    font-weight: 500;
    color: rgb(128, 8, 8);
}

.close-btn:hover{
    background-color: rgb(207, 33, 33);
    color: white;
}

.admin .addProject{
    background-color: #dbebfa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cls{
    position: relative;

    color: black;
}