*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    height: 110px;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    border-bottom: 1px solid #caccd1;
    background-color: #0169a4;
}
.head .links{
    display: flex;
    gap: 20px;
}
.head a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
}
.head a:last-child{
    background-color: red;
}
.head a:last-child:hover{
    background-color: #bb1e10;
}
.head .logo{
    cursor: pointer;
}
.head img{
    width: 60px;
    height: 60px;
}
.head p{
    color: antiquewhite;
    font-size: 18px;
    font-weight: 500;
}