.table-3{
    width: 100%;
    margin: 0 auto;
}
.table-3 thead{
    background-color: #203143;
    color: antiquewhite;
}
.table-3 thead td{
    width: 33%;
    text-align: center;
    padding: 25px 0;
    font-weight: 500;
}
.table-3 tbody{
    background-color: #f2f7f9;
}

.table-3 tbody td{
    padding: 25px 0;
    text-align: center;
}

@media screen and (max-width:550px) {
    .table-3{
        width: fit-content;
        display: block;
        overflow-x: auto;
    }
}
