.main {
    padding: 50px 0;
}

.search {
    display: flex;
    gap: 0;
    justify-content: baseline;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid #09347a; 
    /* box-shadow: #388ed1 4px 3px 20px 1px; */
}

.search input {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    outline: none;
    border: 1px solid #b9cfed;
    color: #00387b;
}

.search input::placeholder {
    font-size: 14px;
}

.search button {
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    padding: 12.5px 10px;
    background-color: rgba(0, 0, 0, 0.747);
}

.list {
    display: flex;
    gap: 8%;
    row-gap: 50px;
    font-weight: 500;
    flex-wrap: wrap;
    width: 60%;
    margin: 20px auto;
    justify-content: flex-start;
    color: #d7d7d8;
}

.list .item {
    width: 28%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #8db9ca;
    color: #000000;
    z-index: 1;
    font-size: 20px;
    border: 1px solid #09347a;
}

.item svg {
    display: none;
}

.item:hover svg {
    display: block;
}

.list .item img{
    width: 60px;
}
.item .title{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.item:hover{
    background-color: #00387b;
    transition: all 400ms;
    color: white;
}

.list .item svg {
    margin-left: 15px;
}

.pages {
    display: flex;
    width: fit-content;
    margin: 50px auto;
    background-color: white;
    border: 1px solid rgb(231, 230, 230);
}

.pages button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-right: 1px solid gainsboro;
    background: none;
    transition: all 400ms;
}
.pages button:hover{
    background-color: rgba(212, 212, 212, 0.87);
}

.pages button.active {
    color: white;
    background-color: #09347a;
}

@media screen and (max-width: 1280px) {
    .search{
        width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .list{
        width: 80%;
    }
}
@media screen and (max-width: 500px) {
    .list{
        width: 90%;
        gap: 5%;
        row-gap: 20px;
    }
    .list .item{
        width: 30%;
        height: 150px;
    }
}