.general-info{
    width: 100%;
    display: flex;
    font-size: 18px;
}
.general-info thead{
    width: 30%;
}
.general-info thead tr{
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 500;
    background-color: #203143;
    color: antiquewhite;
}
.general-info thead td{
    text-align: center;
}
.general-info tbody{
    background-color: #f2f7f9;
    width: 70%;
}
.general-info tbody tr{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 50px;
}
