.tech{
    width: 100%;
    font-size: 16px;
}
.tech thead tr{
    background-color: #203143;
    color: antiquewhite;
}
.tech tbody{
    background-color: #f2f7f9;
}
.tech td{
    padding: 20px 60px;
}

